.wpo-fun-fact-grids {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* 4 coloane pe desktop */
  gap: 20px;
}

@media (max-width: 768px) {
  .wpo-fun-fact-grids {
    grid-template-columns: repeat(2, 1fr); /* 2 coloane pe mobil/tabletă */
  }
}
